<html lang="ja" itemscope="" itemtype="http://schema.org/Article">

<head>
    <!-- Google Tag Manager -->
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=G-DE05T64139&amp;cx=c&amp;_slc=1"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=G-G2PBTWED42&amp;cx=c&amp;gtm=4e5bi1"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-5JNR25M"></script>
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5JNR25M');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="">
    <title>診療科・部門 | kudanzaka.kkr.or.jp | kudanzaka.kkr.or.jp</title>
    <!-- css -->
    <link rel="stylesheet" href="../common/css/style.css">
    <link rel="icon" href="../common/img/favicon.ico">
    <link rel="stylesheet" href="../styles.css">

</head>

<body id="under" class="section">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5JNR25M" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrapper">
        <div id="nav-btn" class="nav-btn">
            <span></span>
            <span></span>
            <span></span>
            <small>メニュー</small>
        </div>
        <header id="header">
            <div class="inner-l">
                <h1 class="header_logo"><a href="../index.html"><img src="../common/img/logo.png" alt="九段坂病院"></a></h1>
                <div class="header_R">
                    <div class="header_link">
                        <div class="header_tel"><a href="tel:0332629191">03-3262-9191</a></div>
                        <div class="header_contact"><a href="../access/index.html#sec4">お問い合わせ</a></div>
                        <div class="header_access"><a href="../access/index.html">交通アクセス</a></div>
                        <div class="header_recruit"><a href="../recruit/index.html">採用情報</a></div>
                        <div><a>　</a></div>
                        <div class="header_recruit"><a
                                href="https://www.mrso.jp/mrs/kudansaka/InsuranceDialogues/index/">人間ドックWEB予約</a></div>
                    </div><!-- /top_header_btn_area-->
                    <!--<div id="nav-btn" class="nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>-->
                    <!-- navi -->
                    <nav class="navi">
                        <ul>
                            <li><a href="../index.html"><span>HOME</span></a></li>
                            <li class="pc"><a href="../outpatient/tantou/index.html"><span>外来診察担当表</span></a></li>
                            <li class="pc"><a href="../column/index.html"><span>当院の取り組み</span></a></li>
                            <li class="pc"><a href="../news/index.html"><span>お知らせ</span></a></li>
                            <li><a href="../info/index.html"><span>病院案内</span></a></li>
                            <li><a href="../outpatient/index.html"><span>外来案内<small
                                            class="pc">（外来・予約）</small></span></a></li>
                            <li><a href="index.html"><span>診療科・部門</span></a></li>
                            <li><a href="../checkup/index.html"><span>健診・人間ドック<small
                                            class="pc">（健康医学センター）</small></span></a></li>
                            <li class="pc"><a href="../inpatient/index.html"><span>入院・面会</span></a></li>
                            <li><a href="../iryourenkei/index.html"><span>医療関係者の方へ</span></a></li>
                            <li class="pc"><a href="../access/index.html"><span>交通アクセス・お問い合わせ・個人情報の取り扱いについて</span></a>
                            </li>
                        </ul>
                        <div class="nav_nomal_link pc">
                            <p><a href="../chiyodaku/chiyoda.html"><span>千代田区在住の皆さまへ</span></a></p>
                            <p><a href="../pdf/20191017-National Clinical Database.pdf"
                                    target="_blank"><span>日本臨床データベース機構への参加について</span></a></p>
                        </div>
                        <div class="pc nav_link">
                            <div class="header_tel"><a href="tel:0332629191">03-3262-9191</a></div>
                            <div class="header_contact"><a href="../access/index.html#sec4">お問い合わせ</a></div>
                            <div class="header_recruit"><a href="../recruit/index.html">採用情報</a></div>
                            <div><a>　</a></div>
                            <div class="header_recruit"><a
                                    href="https://www.mrso.jp/mrs/kudansaka/InsuranceDialogues/index/">人間ドックWEB予約</a>
                            </div>
                        </div>
                    </nav><!-- navi -->
                    <div class="nav_bg" id="nav_bg"></div>
                </div>

            </div><!-- /inner-l -->
        </header>

        <main id="primary" class="site-main">

            <div class="title-head">
                <h1>診療科・部門</h1>
            </div>

            <div class="inner-l">
                <ul class="breadcrumb" typeof="BreadcrumbList" vocab="https://schema.org/">
                    <li><a href="../index.html">TOP</a></li>
                    <li>診療科・部門</li>
                </ul>
            </div>

            <section class="section inner">
                <h2 id="sec1" class="main_area_h2">診療科</h2>
                <div class="section_btn_list">

                    <div class="section_btn_list">
                        <ul>
                            <li><a href="naika/index.html">内科</a></li>
                            <li><a href="geka/index.html">外科</a></li>
                            <li><a href="seikei/index.html">整形外科</a></li>
                            <li><a href="hifuka/index.html">皮膚科</a></li>
                            <li><a href="hinyoukika/index.html">泌尿器科</a></li>
                            <li><a href="fujinka/index.html">婦人科</a></li>
                            <li><a href="jibika/index.html">耳鼻咽喉科</a></li>
                            <li><a href="ganka/index.html">眼科</a></li>
                            <li><a href="shinnai/index.html">心療内科</a></li>
                            <li><a href="reha/index.html">リハビリテーション科</a></li>
                            <li><a href="masuika/index.html">麻酔科</a></li>
                        </ul>
                    </div>
                    <!-- /departments_btn_list -->

                </div><!-- /departments_btn_list -->
            </section><!-- /inner -->

            <section class="section inner">
                <h2 id="sec2" class="main_area_h2">部門</h2>
                <div class="section_btn_list">
            
                    <div class="section_btn_list">
                        <ul>
                            <li><a href="naika/index.html">リハビリテーション部門</a></li>
                            <li><a href="geka/index.html">放射線科部門</a></li>
                            <li><a href="seikei/index.html">検査部門</a></li>
                            <li><a href="hifuka/index.html">外来部門</a></li>
                            <li><a href="hinyoukika/index.html">栄養部門</a></li>
                            <li><a href="fujinka/index.html">薬剤部門</a></li>
                            <li><a href="jibika/index.html">事務部門</a></li>
                            <li><a href="naishikyo/index.html">内視鏡部門</a></li>
                            <!-- <li><a href="shinnai/index.html">心療内科</a></li>
                            <li><a href="reha/index.html">リハビリテーション科</a></li>
                            <li><a href="masuika/index.html">麻酔科</a></li> -->
                        </ul>
                    </div>
                    <!-- /departments_btn_list -->
            
                </div><!-- /departments_btn_list -->
            </section><!-- /inner -->
            <section class="section inner">
                <div class="row"> </div>
            </section>

        </main><!-- #main -->

        <footer id="footer" class="footer">
            <div class="inner-l">
                <div class="company_data">
                    <p id="footer_logo"><a href="../index.html"><img src="../common/img/footer_logo.png"
                                alt="九段坂病院"></a></p>
                    <p class="tell"><a href="tel:0332629191">03-3262-9191</a></p>
                    <address>102-0074 東京都千代田区九段南1-6-12</address>
                    <div class="f_kinouhyouka">
                        <img src="../common/img/kinouhyouka_img.jpg" alt="">
                        <p>当院は(公財)日本医療機能評価 機構認定病院です。</p>
                    </div>
                </div>
                <div class="footer_links">
                    <div class="local_link_area">
                        <ul class="local_link">
                            <li><a href="../outpatient/tantou/index.html">外来診療担当表</a></li>
                            <li><a href="../column/index.html">当院の取り組み</a></li>
                            <li><a href="../news/index.html">お知らせ</a></li>
                        </ul>
                        <ul class="local_link">
                            <li class="mb20"><a href="../info/index.html">病院案内</a>
                                <ul class="arw_list">
                                    <li><a href="../info/outline.html">病院概要</a></li>
                                    <li><a href="../info/guide.html">フロアマップ</a></li>
                                    <li><a href="../info/shihyo.html">病院指標</a></li>
                                    <li><a href="../info/rinsho.html">臨床研究の実施に関する情報公開</a></li>
                                </ul>
                            </li>
                            <li><a href="../outpatient/index.html">外来のご案内</a>
                                <ul class="arw_list">
                                    <li><a href="../outpatient/yoyaku.html">整形外科の外来予約のご案内</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="local_link">
                            <li><a href="index.html">診療科・部門のご案内</a>
                                <ul class="arw_list">
                                    <li><a href="naika/index.html">内科</a></li>
                                    <li><a href="geka/index.html">外科</a></li>
                                    <li><a href="seikei/index.html">整形外科</a></li>
                                    <li><a href="hifuka/index.html">皮膚科</a></li>
                                    <li><a href="hinyoukika/index.html">泌尿器科</a></li>
                                    <li><a href="fujinka/index.html">婦人科</a></li>
                                    <li><a href="jibika/index.html">耳鼻咽喉科</a></li>
                                    <li><a href="ganka/index.html">眼科</a></li>
                                    <li><a href="shinnai/index.html">心療内科</a></li>
                                    <li><a href="reha/index.html">リハビリテーション科</a></li>
                                    <li><a href="masuika/index.html">麻酔科</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="local_link">
                            <li><a href="../checkup/index.html">健診・人間ドック(健康医学センター)</a></li>
                            <li><a href="../inpatient/index.html">入院・面会</a></li>
                            <li><a href="../iryourenkei/index.html">医療関係者の方へ</a></li>
                            <li><a href="../access/index.html">交通アクセス／お問い合わせ／<br>個人情報の取扱いについて</a></li>
                            <li class="f_link_nomal"><a href="../chiyodaku/chiyoda.html">千代田区在住の皆さまへ</a></li>
                            <li class="f_link_nomal"><a href="../pdf/20191017-National Clinical Database.pdf"
                                    target="_blank">日本臨床データベース機構への参加について</a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- /inner-l -->

            <script>
                $(function () {
                    var pageTop = $('.page-top');
                    pageTop.hide();

                    $(window).scroll(function () {
                        if ($(this).scrollTop() > 400) {
                            pageTop.fadeIn();
                        } else {
                            pageTop.fadeOut();
                        }
                    });

                    pageTop.click(function () {
                        $('body,html').animate({
                            scrollTop: 0
                        }, 300);
                        return false;
                    });

                });
            </script>
            <!--?php $root = $_SERVER['DOCUMENT_ROOT']; include ($root.'/common/include/footer.html'); ?-->
            <div id="page_top"><a href="#"></a></div>
        </footer>
        <div id="copyright">copyright c Kudanzaka Hospital. <br class="pc">
            all rights reserved.</div>
        <!-- 
  <div class="yoyaku_link"><a href="../outpatient/yoyaku.html"><img src="../common/img/ico_doctorslist.png"><span>外来診察担当表</span></a></div>	
  <div id="fix_btn">
  <ul class="ro_btns">
  <li class="first"><a href="../outpatient/yoyaku.html"><img src="../common/img/btn_doctors_list.png" alt="外来診察担当表"></a></li>
  </ul>
  </div> 
  -->
    </div>
    <!-- /wrapper -->

    <script>
        (function fixInfoWindow() {
            var set = google.maps.InfoWindow.prototype.set;
            google.maps.InfoWindow.prototype.set = function (key, val) {
                if (key === "map") {
                    if (!this.get("noSuppress")) {
                        return;
                    }
                }
                set.apply(this, arguments);
            }
        })();	
    </script>









</body>

</html>